html *,
.blog-post-title,
.blog-title
{
   font-size: 14px;
}

.blog-masthead {
    background-color: #b34848;
}

.blog-title,
.blog-post-title,
.blog-header,
a {
    color: #b34848;
}

.blog-post-title:hover,
a:hover {
    text-decoration: underline;
    color: #b34848;
}

.inputWrapper label{
    display:block;
}

.radioWrapper{
    display: flex;
    gap: 10px;
    align-items:flex-start;
}

#title,
#author,
#bodyPosts,
#ime,
#prezime,
.submit {
    margin-bottom: 15px;
    border: 1px solid black;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 5px;
}

#title,
#ime,
#prezime,
#author,
.select{
    width: 300px;
    box-sizing: border-box;
}

#bodyPosts {
    width: 500px;
}

.label{
    margin-bottom: 0px;
}

.submit:hover {
    cursor: pointer;
}

input[type=radio],
input.radio {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
}

.M{
    color: blue;
}

.Z{
    color: pink;
}

.select{
    -webkit-appearance:none;
   
}