html *,
.blog-post-title,
.blog-title
{
   font-size: 14px;
}

.blog-masthead {
    background-color: #b34848;
}

.blog-title,
.blog-post-title,
.blog-header,
a {
    color: #b34848;
}

.blog-post-title:hover,
a:hover {
    text-decoration: underline;
    color: #b34848;
}
  
input[type=text]{
    margin: 10px;
    border: 1px solid black;
    width: 300px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 5px;
    box-sizing: content-box;
    vertical-align: bottom;
}

textarea {
    margin: 10px;
    width: 500px;
    border: 1px solid black;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 5px;
    vertical-align: bottom;
}

button {
    margin: 10px;
    border: 2px solid black;
    border-radius:5px;
}