html *
{
   font-size: 14px!important;
}

.blog-masthead {
    background-color: #b34848;
}

.blog-title,
.blog-post-title,
a {
    color: #b34848;
}

.blog-post-title:hover,
a:hover {
    text-decoration: underline;
    color: #b34848;
}